ABCDefg

<div class="container bloc-lg">
	<div class="row">
		<div class="col-sm-4">
			<img src="/img/download/mgit.png" class="img-responsive" />
		</div>
		<div class="col-sm-8">
			<h2>MGit</h2>
			<dl>
				<dt>Description</dt>
				<dd>An unofficial git client for Android.</dd>
				<dt>Site</dt>
				<dd><a href="https://manichord.com/MGit">https://manichord.com/MGit</a></dd>
				<dt>Platforms</dt>
				<dd><a href="https://play.google.com/store/apps/details?id=com.manichord.mgit">Play Store</a></dd>
				<dt>Price</dt>
				<dd>Free</dd>
			</dl>
		</div>
	</div>
</div>