<!-- ScrollToTop Button -->
<a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1')"><span class="fa fa-chevron-up"></span></a>
<!-- ScrollToTop Button END-->


<!-- Footer - footer -->
<div class="bloc navigation-linksnavigation-links git-background-night bgc-medium-jungle-green d-bloc" id="footer">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-sm-3">
				<h4 class="mg-md">
					Git
				</h4><a href="/documentation/" class="a-btn a-block bloc-mob-center-text">Documentation</a><a href="/how-to/" class="a-btn a-block bloc-mob-center-text">How To</a><a href="/downloads/" class="a-btn a-block bloc-mob-center-text">Downloads</a><a href="/resources/" class="a-btn a-block bloc-mob-center-text">Resources</a>
			</div>
			<div class="col-sm-3">
				<h4 class="mg-md">
					Resources <br>
				</h4><a href="/resources/links/" class="a-btn a-block bloc-mob-center-text">Links</a><a href="/resources/logo/" class="a-btn a-block bloc-mob-center-text">Logo</a><a href="/resources/vidoes/" class="a-btn a-block bloc-mob-center-text">Videos</a>
			</div>
			<div class="col-sm-3">
				<h4 class="mg-md">
					DVCS<br>
				</h4><a href="https://github.com/dvcs" class="a-btn a-block bloc-mob-center-text">GitHub</a>
			</div>
			<div class="col-sm-3">
				<h4 class="mg-md">
					About<br>
				</h4><a href="/about/#support" class="a-btn a-block bloc-mob-center-text">Support DVCS</a>
			</div>
		</div>
	</div>
</div>
<!-- Footer - footer END -->

<!-- Footer - copyright -->
<div class="bloc git-background-night bgc-medium-jungle-green" id="copyright">
	<div class="container bloc-sm">
		<div class="row">
			<div class="col-sm-12 text-center">
				<a href="https://www.gitdvcs.com"><img src="/img/git-logo-white.svg" class="img-responsive center-block mg-md" height="38" width="38" /></a>
				<p class="text-center mg-lg">
					<a href="https://github.com/dvcs">2017 DVCS</a><br>
				</p>
			</div>
		</div>
	</div>
</div>
<!-- Footer - copyright END -->

</div>
<!-- Main container END -->


</body>
</html>