{{ partial "header.html" . }}
{{ partial "navigation.html" . }}
{{ $baseURL := .Site.BaseURL }}

<!-- hero -->
<div class="bloc git-background-white bgc-white" id="hero">
	<div class="container bloc-xxl">
		<div class="row">
			<div class="col-sm-12">
				<img src="/img/git-logo.svg" class="img-responsive center-block mg-md" />
				<h1 class="text-center mg-lg hero-bloc-text-sub ">
					Git is a distributed version control system
				</h1>
			</div>
		</div>
		<div class="row voffset-lg">
			<div class="col-sm-12">
				{{ partial "carbon-horizontal.html" . }}
			</div>
		</div>
	</div>
</div>
<!-- hero END -->

<!-- what-is-git -->
<div class="bloc git-background-orange bgc-deep-carrot-orange" id="what-is-git">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col-sm-12">
				<h2 class="text-center mg-md  uppercase">
					What Is Git?
				</h2>
			</div>
		</div>
		<div class="row voffset">
			<div class="col-sm-12">
				<p>
					Git is a version control system (VCS) for tracking changes in computer files and coordinating work on those files among multiple people. It is primarily used for software development, but it can be used to keep track of changes in any files. As a distributed revision control system it is aimed at speed, data integrity, and support for distributed, non-linear workflows.
				</p><img class="img-responsive" src="img/what-is-git.png" />
			</div>
		</div>
	</div>
</div>
<!-- what-is-git END -->

<!-- what-is-on-this-site -->
<div class="bloc git-background-white bgc-white l-bloc" id="what-is-on-this-site">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col-sm-12">
				<h2 class="mg-md text-center  uppercase">
					What Is On This Site?
				</h2>
			</div>
		</div>
		<div class="row voffset">
			<div class="col-sm-3">
				<div class="text-center">
					<span class="ion ion-ios-book-outline icon-xl what-is-on-icons"></span>
				</div>
				<div class="text-center">
					<a href="/documentation/" class="a-btn large-links">Documentation</a>
				</div>
				<p class="mg-sm">
					Git documentation expalning each command with exmaples.
				</p>
			</div>
			<div class="col-sm-3">
				<div class="text-center">
					<span class="ion ion-ios-help-outline icon-xl what-is-on-icons"></span>
				</div>
				<div class="text-center">
					<a href="/how-to/" class="a-btn large-links">How To's</a>
				</div>
				<p class="mg-sm">
					Helpful examples explaining how to do commont tasks in Git.
				</p>
			</div>
			<div class="col-sm-3">
				<div class="text-center">
					<span class="ion ion-ios-cloud-download-outline icon-xl what-is-on-icons"></span>
				</div>
				<div class="text-center">
					<a href="/downloads/" class="a-btn large-links">Downloads</a>
				</div>
				<p class="mg-sm">
					Desktop and mobile application for Linux, Windows, MacOS, Android, and iOS. &nbsp;In addition, links for compiling from source.
				</p>
			</div>
			<div class="col-sm-3">
				<div class="text-center">
					<span class="ion ion-ios-briefcase-outline icon-xl what-is-on-icons"></span>
				</div>
				<div class="text-center">
					<a href="/resources/" class="a-btn large-links">Resources</a>
				</div>
				<p class="mg-sm">
					Links to external websites to learn how to use git, try git on the web, and design resources. <br>
				</p>
			</div>
		</div>
	</div>
</div>
<!-- what-is-on-this-site END -->

<!-- how-can-i-help -->
<div class="bloc git-background-orange bgc-deep-carrot-orange" id="how-can-i-help">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col-sm-12">
				<h2 class="mg-md text-center uppercase">
					How Can I Help?
				</h2>
			</div>
		</div>
		<div class="row voffset">
			<div class="col-sm-12">
				<h4 class="mg-md text-center">
					Open Source Software
				</h4>
				<p>
					This website is 100% open source. &nbsp;This means that anyone has access to the the code base and can make contributions. &nbsp;If you are interested in supporting dvcs, we have a lot of areas we need help with. &nbsp;You can visit our GitHub page, reivew issues and submit pull requests.
				</p>
			</div>
		</div>
		<div class="row voffset">
			<div class="col-sm-4">
				<img src="https://img.shields.io/github/stars/dvcs/gitdvcs.com.svg?style=social&amp;label=Star" class="img-responsive center-block mg-md" />
			</div>
			<div class="col-sm-4">
				<img src="https://img.shields.io/github/forks/dvcs/gitdvcs.com.svg?style=social&amp;label=Fork" class="img-responsive center-block mg-md" />
			</div>
			<div class="col-sm-4">
				<img src="https://img.shields.io/github/watchers/dvcs/gitdvcs.com.svg?style=social&amp;label=Watch" class="img-responsive center-block mg-md" />
			</div>
		</div>
	</div>
</div>
<!-- how-can-i-help END -->

<!-- who-is-using-git -->
<div class="bloc git-background-white bgc-white" id="who-is-using-git">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col-sm-12">
				<h2 class="text-center mg-md uppercase">
					Who Is Using Git?
				</h2>
			</div>
		</div>
		<div class="row voffset">
			<div class="col-sm-12">
				<h4 class="text-center mg-lg">
					Companies
				</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<a href="https://github.com/apple"><img src="img/apple.svg" class="img-responsive center-block mg-md animated pulse-hvr" data-placement="bottom" data-toggle="tooltip" title="Apple" /></a>
			</div>
			<div class="col-sm-3">
				<a href="https://github.com/facebook"><img src="img/facebook.svg" class="img-responsive center-block mg-md animated pulse-hvr" data-placement="bottom" data-toggle="tooltip" title="Facebook" /></a>
			</div>
			<div class="col-sm-3">
				<a href="https://github.com/google"><img src="img/google.svg" class="img-responsive center-block mg-md animated pulse-hvr" data-placement="bottom" data-toggle="tooltip" title="Google" /></a>
			</div>
			<div class="col-sm-3">
				<a href="https://github.com/linkedin"><img src="img/linkedin.svg" class="img-responsive center-block mg-md animated pulse-hvr" data-placement="bottom" data-toggle="tooltip" title="LinkedIn" /></a>
			</div>
		</div>
		<div class="row voffset-md voffset voffset-clear-xs">
			<div class="col-sm-3">
				<a href="https://github.com/microsoft"><img src="img/microsoft.svg" class="img-responsive center-block mg-md animated pulse-hvr" data-placement="bottom" data-toggle="tooltip" title="Microsoft" /></a>
			</div>
			<div class="col-sm-3">
				<a href="https://github.com/netflix"><img src="img/netflix.svg" class="img-responsive center-block mg-md animated pulse-hvr" data-placement="bottom" data-toggle="tooltip" title="Netflix" /></a>
			</div>
			<div class="col-sm-3">
				<a href="https://github.com/twitter"><img src="img/twitter.svg" class="img-responsive center-block mg-md animated pulse-hvr" data-placement="bottom" data-toggle="tooltip" title="Twitte" /></a>
			</div>
			<div class="col-sm-3">
				<a href="https://github.com/uber"><img src="img/uber.svg" class="img-responsive center-block mg-md animated pulse-hvr" data-placement="bottom" data-toggle="tooltip" title="Uber" /></a>
			</div>
		</div>
		<div class="row voffset">
			<div class="col-sm-12">
				<h4 class="text-center mg-lg">
					Projects <br>
				</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<a href="https://android-review.googlesource.com/#/q/status:open,n,z"><img src="img/android.svg" class="img-responsive center-block mg-md animated pulse-hvr" data-placement="bottom" data-toggle="tooltip" title="Android" /></a>
			</div>
			<div class="col-sm-3">
				<a href="https://git.eclipse.org/c/"><img src="img/eclipse.svg" class="img-responsive center-block mg-md animated pulse-hvr" data-placement="bottom" data-toggle="tooltip" title="Eclipse" /></a>
			</div>
			<div class="col-sm-3">
				<a href="https://git.gnome.org/browse/"><img src="img/gnome.svg" class="img-responsive center-block mg-md animated pulse-hvr" data-placement="bottom" data-toggle="tooltip" title="Gnome" /></a>
			</div>
			<div class="col-sm-3">
				<a href="https://cgit.kde.org/"><img src="img/kde.svg" class="img-responsive center-block mg-md animated pulse-hvr" data-placement="bottom" data-toggle="tooltip" title="KDE" /></a>
			</div>
		</div>
		<div class="row voffset-md voffset voffset-clear-xs">
			<div class="col-sm-3">
				<a href="https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/"><img src="img/linux.svg" class="img-responsive center-block mg-md animated pulse-hvr" data-placement="bottom" data-toggle="tooltip" title="Linux" /></a>
			</div>
			<div class="col-sm-3">
				<a href="https://git.postgresql.org/gitweb/"><img src="img/postgres.svg" class="img-responsive center-block mg-md animated pulse-hvr" data-placement="bottom" data-toggle="tooltip" title="PostgreSQL" /></a>
			</div>
			<div class="col-sm-3">
				<a href="https://code.qt.io/cgit/"><img src="img/qt.svg" class="img-responsive center-block mg-md animated pulse-hvr" data-placement="bottom" data-toggle="tooltip" title="Qt" /></a>
			</div>
			<div class="col-sm-3">
				<a href="https://cgit.freedesktop.org/xorg/xserver/"><img src="img/xserver.svg" class="img-responsive center-block mg-md animated pulse-hvr" data-placement="bottom" data-toggle="tooltip" title="XServer" /></a>
			</div>
		</div>
	</div>
</div>
<!-- who-is-using-git END -->

{{ partial "footer.html" . }}
