{{ partial "header.html" . }}
{{ partial "navigation.html" . }}
{{ $baseURL := .Site.BaseURL }}

<!-- bloc-1 -->
<div class="bloc l-bloc bgc-white " id="bloc-1">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col-sm-10">
				<h1 id="title">Download {{ .Title }} Clients</h1>
				{{ partial "breadcrumbs.html" . }}
				{{ range .Data.Pages.ByTitle }}
				{{ .Content }}
				{{ end }}
			</div>
			<div class="col-sm-2">
				{{ partial "carbon-vertical.html" . }}
				/layouts/taxonomy/download
			</div>
		</div>
	</div>
</div>
<!-- bloc-1 END -->

{{ partial "footer.html" . }}
